# EXPORTER API
# THIS IS THE API THAT RECEIVES DATA FROM THESE EXPORTER SCRIPTS
EXPORTER_ENDPOINT=<EXPORTER_ENDPOINT>
EXPORTER_KEY=<EXPORTER_API_KEY>
PING_EXPORTER_ENDPOINT=<>
SYSTEM_UTI_ENDPOINT=<SYSTEM_UTI_ENDPOINT>
PASSWORDS=<>
# IMPORTER API
# THE IMPORTER API CONTAINES ALL YOUR REMOTE HOST DETAILS (HOST_NAME, IP_ADDRESS AND USERNAME)
IMPORTER_ENDPOINT=<IMPORTER_ENDPOINT>
SERVICE_NAMES=nginx.service,mysql.service

# APP DIRS
APP_DIRS=/var/www/BHT-EMR-API,/var/www/BHT-EMR-API,/var/www/BHT-EMR-API
